<section class="login-page">
  <header class="login-page__header">
    <h1>Log In</h1>
    <p>Hello, welcome to PresupCo</p>
  </header>

  <form 
    [formGroup]="loginForm" 
    (ngSubmit)="onLogin()" 
    (keyup.enter)="onLogin()" 
    class="login-page__form"
    tabindex="0"
    role="form"
    aria-label="Login form"
  >
    <button class="btn btn-primary">DaisyUI?</button>

    <ui-form-field label="Email">
      <ui-input formControlName="email" />
    </ui-form-field>

    <ui-form-field label="Password">
      <ui-input formControlName="password" />
    </ui-form-field>

    <p class="login-page__forgot-password">
      <a 
        tabindex="0"
        role="button"
        (click)="goTo('/forgot-password')"
        (keydown.enter)="goTo('/forgot-password')"
      >
        Forgot Password?
      </a>
    </p>

    <div class="form-actions">
      <button 
        matButton="filled"
        color="primary" 
        class="w-full" 
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </div>

    <p class="login-page__no-account">
      Don’t have an account?
      <a 
        href="javascript:void(0)"
        (click)="goTo('/register')"
        (keydown.enter)="goTo('/register')"
        tabindex="0"
        role="link"
      >Sign up</a>
    </p>
  </form>
</section>
