APP_NAME=presupco
APP_URL=http://presupco.io

SERVER_PORT=3000
JWT_SECRET=jwt-secret
JWT_EXPIRES_IN=1h

WEBAPP_DOMAIN=webapp
WEBAPP_PORT=4200
WEBAPP_URL=http://webapp:4200

# Database Config
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=presupco_user
DB_PASSWORD=presupco_pass
DB_NAME=presupco_db

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379

# Mailing Config 
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=no-reply@
